$color: #fff;

// hover color
$hover-color: #9d8665;

//horizontal line color
$line-color: #710707;

//black color
$color-black: #000000;

// font family
$font-roboto: 'Roboto', sans-serif;

$font-forum: 'Forum', cursive;